.image-2-icon4 {
	object-fit: cover;
	cursor: pointer;
	width: 113px;
	height: 50px;
	position: relative
}

.kontaktovat-sestru-emmy1 {
    font-size: var(--font-size-sm);
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    position: relative
}

button {
    cursor: pointer;
    padding: var(--padding-xs)var(--padding-5xl);
    background-color: var(--color-steelblue);
    border-radius: var(--br-xs);
    color: white;
    white-space: nowrap;
    border: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex
}

button:hover {
    background-color: var(--color-deepskyblue)
}

.horizontal-container22{
	flex-direction: row;
	align-items: center;
	display: flex
}

.horizontal-container22 {
	justify-content: flex-start
}

.vod {
    color: inherit;
    min-width: 35px;
    line-height: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative
}

.poskytovan-pe {
    white-space: nowrap;
    cursor: pointer;
    min-width: 122px
}

.cenk,
.domc-pe,
.poskytovan-pe,
.vybaven {
    color: inherit;
    line-height: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative
}

.domc-pe {
    white-space: nowrap;
    cursor: pointer;
    min-width: 87px
}

.cenk,
.vybaven {
    min-width: 61px
}

.cenk {
    min-width: 38px
}

.mynauiexternal-link {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin: 0;
    position: relative;
    overflow: hidden
}

.link-wrapper {
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-9xs);
    flex-direction: row;
    display: flex
}

.kontakt {
	color: inherit;
	min-width: 51px;
	line-height: 20px;
	text-decoration: none;
	display: inline-block;
	position: relative
}

.horizontal-container21,
.horizontal-container3 {
	flex-direction: row;
	align-items: center;
	max-width: 100%;
	display: flex
}

.horizontal-container3 {
	justify-content: center;
	gap: var(--gap-21xl);
	color: var(--color-black);
	margin: 0 !important
}

.horizontal-container21 {
	justify-content: space-between;
	align-self: stretch;
	gap: var(--gap-xl);
	position: relative
}

.horizontal-container20,
.lo-fi-ux-hero1,
.low-fi-page-header2 {
	flex-direction: column;
	align-self: stretch;
	max-width: 100%;
	display: flex
}

.horizontal-container20 {
	padding: var(--padding-base)var(--padding-13xl);
	box-sizing: border-box;
	text-align: left;
	font-size: var(--font-size-sm);
	color: var(--color-white);
	font-family: var(--font-inter);
	justify-content: flex-start;
	align-items: flex-start
}

.lo-fi-ux-hero1,
.low-fi-page-header2 {
	justify-content: center;
	align-items: center
}

.low-fi-page-header2 {
	padding: 0 var(--padding-61xl);
	box-sizing: border-box
}

.lo-fi-ux-hero1 {
	overflow: hidden
}

.content3 {
	padding: 0 var(--padding-xl);
	text-align: center;
	font-size: var(--font-size-19xl);
	color: var(--color-white);
	font-family: var(--font-inter);
	align-self: stretch
}

.fluenthome-heart-24-regular-icon {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	position: relative;
	overflow: hidden
}

.low-fi-avatar-wrapper,
.low-fi-avatar16 {
	flex-direction: row;
	justify-content: center;
	display: flex
}

.low-fi-avatar16 {
	border-radius: var(--br-xl);
	background-color: var(--color-white);
	align-items: center;
	width: 48px;
	height: 48px;
	box-shadow: 0 0 16px #a2aeb526
}

.low-fi-avatar-wrapper {
	padding: 0 var(--padding-xl);
	align-self: stretch;
	align-items: flex-start
}

.header5 {
	font-size: inherit;
	margin: 0;
	font-family: inherit;
	font-weight: 500;
	line-height: 38px;
	position: relative
}

.feature-headers {
	padding: 0 var(--padding-xl);
	flex-direction: row;
	justify-content: center;
	align-self: stretch;
	align-items: flex-start;
	display: flex
}

.domc-pe-je1 {
	font-size: var(--font-size-sm);
	align-self: stretch;
	line-height: 20px;
	position: relative
}

.row6 {
	justify-content: flex-start;
	align-items: flex-start;
	gap: var(--gap-base);
	flex-direction: column;
	width: 860px;
	max-width: 100%;
	display: flex;
	overflow: hidden
}

.hugeiconsmessage-question {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	position: relative;
	overflow: hidden
}

.low-fi-avatar-container,
.low-fi-avatar17 {
	flex-direction: row;
	justify-content: center;
	display: flex
}

.low-fi-avatar17 {
	border-radius: var(--br-xl);
	background-color: var(--color-white);
	align-items: center;
	width: 48px;
	height: 48px;
	box-shadow: 0 0 16px #a2aeb526
}

.low-fi-avatar-container {
	padding: 0 var(--padding-xl);
	align-self: stretch;
	align-items: flex-start
}

.header6 {
	font-size: inherit;
	margin: 0;
	font-family: inherit;
	font-weight: 500;
	line-height: 38px;
	position: relative
}

.header-container {
	padding: 0 var(--padding-2xl)0 var(--padding-xl);
	flex-direction: row;
	justify-content: center;
	align-self: stretch;
	align-items: flex-start;
	display: flex
}

.pi-domc-pi {
	font-size: var(--font-size-sm);
	align-self: stretch;
	line-height: 20px;
	position: relative
}

.row7 {
	justify-content: flex-start;
	align-items: flex-start;
	gap: var(--gap-base);
	flex-direction: column;
	width: 860px;
	max-width: 100%;
	display: flex;
	overflow: hidden
}

.phhand-coins-icon {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	position: relative;
	overflow: hidden
}

.low-fi-avatar-frame,
.low-fi-avatar18 {
	flex-direction: row;
	justify-content: center;
	display: flex
}

.low-fi-avatar18 {
	border-radius: var(--br-xl);
	background-color: var(--color-white);
	align-items: center;
	width: 48px;
	height: 48px;
	box-shadow: 0 0 16px #a2aeb526
}

.low-fi-avatar-frame {
	padding: 0 var(--padding-xl);
	align-self: stretch;
	align-items: flex-start
}

.header7 {
	font-size: inherit;
	margin: 0;
	font-family: inherit;
	font-weight: 500;
	line-height: 38px;
	position: relative
}

.header-frame {
	padding: 0 var(--padding-xl);
	flex-direction: row;
	justify-content: center;
	align-self: stretch;
	align-items: flex-start;
	display: flex
}

.blank-line,
.domc-pe-je2,
.podmnky-a-dost {
	margin: 0
}

.podmnky-a-dost1 {
	text-decoration: underline
}

.podmnky-a-dost-o-pspvek1 {
	color: inherit
}

.podmnky-a-dost-o-pspvek {
	margin: 0
}

.dost-o-pspvek {
	text-decoration: underline
}

.dost-o-pspvek-na-pi1 {
	color: inherit
}

.dost-o-pspvek-na-pi {
	margin: 0
}

.domc-pe-je-container {
	font-size: var(--font-size-sm);
	align-self: stretch;
	line-height: 20px;
	position: relative
}

.lo-fi-ux-features2,
.row8 {
	flex-direction: column;
	justify-content: flex-start;
	max-width: 100%;
	display: flex
}

.row8 {
	align-items: flex-start;
	gap: var(--gap-base);
	width: 860px;
	overflow: hidden
}

.lo-fi-ux-features2 {
	padding: var(--padding-45xl)var(--padding-xl);
	box-sizing: border-box;
	align-self: stretch;
	align-items: center;
	gap: var(--gap-29xl);
	text-align: center;
	font-size: var(--font-size-13xl);
	color: var(--color-black);
	font-family: var(--font-inter)
}

.dagmar-hrabovsk,
.odkazy-na-domc {
	align-self: stretch;
	position: relative
}

.odkazy-na-domc {
	font-weight: 500
}

.dagmar-hrabovsk {
	line-height: 20px
}

.system-uiconsmail1 {
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	min-height: 20px;
	position: relative;
	overflow: hidden
}

.dagmarhrabovskacentrumcz {
	white-space: nowrap;
	line-height: 20px;
	text-decoration: underline;
	position: relative
}

.contact-icons2 {
	justify-content: flex-start;
	align-items: center;
	gap: var(--gap-9xs);
	flex-direction: row;
	display: flex
}

.phphone-light-icon1 {
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	min-height: 20px;
	position: relative;
	overflow: hidden
}

.div5 {
	white-space: nowrap;
	min-width: 120px;
	line-height: 20px;
	display: inline-block;
	position: relative
}

.contact-details1,
.contact-icons3 {
	justify-content: flex-start;
	align-items: center;
	gap: var(--gap-9xs);
	flex-direction: row;
	display: flex
}

.contact-details1 {
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: flex-start;
	min-width: 350px;
	max-width: 100%
}

.miroslava-mixov {
	align-self: stretch;
	line-height: 20px;
	position: relative
}

.phphone-light-icon2 {
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	min-height: 20px;
	position: relative;
	overflow: hidden
}

.phone-number {
	white-space: nowrap;
	min-width: 124px;
	line-height: 20px;
	display: inline-block;
	position: relative
}

.second-contact,
.second-contact-info {
	justify-content: flex-start;
	align-items: center;
	gap: var(--gap-9xs);
	flex-direction: row;
	display: flex
}

.second-contact {
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: flex-start;
	min-width: 350px;
	max-width: 100%
}

.fany-dk-sro {
	align-self: stretch;
	line-height: 20px;
	text-decoration: underline;
	position: relative
}

.fany-dk-sro-wrapper {
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: flex-start;
	min-width: 350px;
	max-width: 100%;
	display: flex
}

.agentura-domc-pe {
	align-self: stretch;
	line-height: 20px;
	text-decoration: underline;
	position: relative
}

.agentura-domc-pe-oasa-wrapper {
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: flex-start;
	min-width: 350px;
	max-width: 100%;
	display: flex
}

.prosenior-nov-jin {
	align-self: stretch;
	line-height: 20px;
	text-decoration: underline;
	position: relative
}

.prosenior-nov-jin-wrapper {
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: flex-start;
	min-width: 350px;
	max-width: 100%;
	display: flex
}

.prosenior-nov-jin1 {
	align-self: stretch;
	height: 20px;
	line-height: 20px;
	text-decoration: underline;
	display: inline-block;
	position: relative
}

.contact-info,
.prosenior-nov-jin-container {
	align-items: flex-start;
	max-width: 100%;
	display: flex
}

.prosenior-nov-jin-container {
	opacity: 0;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	min-width: 350px
}

.contact-info {
	font-size: var(--font-size-sm);
	flex-flow: wrap;
	justify-content: flex-start;
	align-self: stretch;
	gap: 40px 22px;
	min-height: 112px
}

.link-names,
.live-wrapper8 {
	box-sizing: border-box;
	align-self: stretch;
	max-width: 100%
}

.link-names {
	border-top: 1px solid var(--neutral-600);
	flex: 1;
	position: relative
}

.live-wrapper8 {
	padding: var(--padding-base)0 var(--padding-mini);
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	height: 32px;
	display: flex
}

.ldn {
	align-self: stretch;
	font-weight: 500;
	position: relative
}

.ldn-blovec,
.ldn-kopivnice,
.ldn-odry {
	flex: 1;
	min-width: 81px;
	max-width: 100%;
	line-height: 20px;
	text-decoration: underline;
	display: inline-block;
	position: relative
}

.link-row-names {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-5xl);
	font-size: var(--font-size-sm);
	flex-flow: wrap;
	max-width: 100%;
	display: flex
}

.live-wrapper-child3,
.live-wrapper9 {
	box-sizing: border-box;
	align-self: stretch;
	max-width: 100%
}

.live-wrapper-child3 {
	border-top: 1px solid var(--neutral-600);
	flex: 1;
	position: relative
}

.live-wrapper9 {
	padding: var(--padding-base)0 var(--padding-mini);
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	height: 32px;
	display: flex
}

.hospice {
	align-self: stretch;
	font-weight: 500;
	position: relative
}

.hospic-citadela,
.hospic-citadela1,
.mobiln-hospic-strom {
	flex: 1;
	min-width: 276px;
	max-width: 100%;
	line-height: 20px;
	text-decoration: underline;
	display: inline-block;
	position: relative
}

.hospic-citadela1 {
	height: 20px
}

.link-row-names1,
.links,
.row9 {
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 100%;
	display: flex
}

.link-row-names1 {
	align-self: stretch;
	gap: var(--gap-5xl);
	font-size: var(--font-size-sm);
	flex-flow: wrap
}

.links,
.row9 {
	box-sizing: border-box
}

.row9 {
	box-shadow: var(--shadow-xsm);
	border-radius: var(--br-xl);
	background-color: var(--color-snow);
	padding: var(--padding-13xl);
	gap: var(--gap-base);
	flex-direction: column;
	flex: 1;
	overflow: hidden
}

.links {
	padding: 0 var(--padding-93xl);
	text-align: left;
	font-size: var(--font-size-base);
	color: var(--color-black);
	font-family: var(--font-inter);
	flex-direction: row;
	align-self: stretch
}

.image-2-icon5 {
	object-fit: cover;
	width: 108px;
	height: 50px;
	position: relative
}

.dm-lka-as3 {
	flex: 1;
	font-weight: 500;
	position: relative
}

.subtitle-wrapper6 {
	padding: 0 0 var(--padding-base);
	flex-direction: row;
	justify-content: flex-start;
	align-self: stretch;
	align-items: center;
	display: flex
}

.bezruova-41323,
.nov-jin3,
.p3 {
	margin: 0
}

.bezruova-4132-nov-jin-741-container3 {
	font-size: var(--font-size-sm);
	align-self: stretch;
	line-height: 20px;
	position: relative
}

.icon-placeholder-fill40 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child32 {
	border-radius: var(--br-31xl);
	background-color: var(--color-steelblue);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon40 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link40 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill41 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child33 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon41 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link41 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill42 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child34 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon42 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link42 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill43 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child35 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon43 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link43 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill44 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child36 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon44 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link44,
.vertical-container19,
.vertical-container20 {
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.low-fi-link44 {
	align-self: stretch;
	gap: var(--gap-7xs);
	flex-direction: row
}

.vertical-container19,
.vertical-container20 {
	flex-direction: column
}

.vertical-container20 {
	align-self: stretch;
	gap: var(--gap-xs)
}

.vertical-container19 {
	gap: var(--gap-5xl);
	width: 54px
}

.icon-placeholder-fill45 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child37 {
	border-radius: var(--br-31xl);
	background-color: var(--color-steelblue);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon45 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link45 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill46 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child38 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon46 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link46 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill47 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child39 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon47 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link47 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill48 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child40 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon48 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link48 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill49 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child41 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon49 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link49,
.vertical-container21,
.vertical-container22 {
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.low-fi-link49 {
	align-self: stretch;
	gap: var(--gap-7xs);
	flex-direction: row
}

.vertical-container21,
.vertical-container22 {
	flex-direction: column
}

.vertical-container22 {
	align-self: stretch;
	gap: var(--gap-xs)
}

.vertical-container21 {
	gap: var(--gap-5xl);
	width: 54px
}

.icon-placeholder-fill50 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child42 {
	border-radius: var(--br-31xl);
	background-color: var(--color-steelblue);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon50 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link50 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill51 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child43 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon51 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link51 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill52 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child44 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon52 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link52 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill53 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child45 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon53 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link53 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill54 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child46 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon54 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link54,
.vertical-container23,
.vertical-container24 {
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.low-fi-link54 {
	align-self: stretch;
	gap: var(--gap-7xs);
	flex-direction: row
}

.vertical-container23,
.vertical-container24 {
	flex-direction: column
}

.vertical-container24 {
	align-self: stretch;
	gap: var(--gap-xs)
}

.vertical-container23 {
	gap: var(--gap-5xl);
	width: 54px
}

.icon-placeholder-fill55 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child47 {
	border-radius: var(--br-31xl);
	background-color: var(--color-steelblue);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon55 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link55 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill56 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child48 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon56 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link56 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill57 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child49 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon57 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link57 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill58 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child50 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon58 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link58 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill59 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child51 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon59 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link59 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.container5,
.vertical-container25,
.vertical-container26 {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.vertical-container26 {
	align-self: stretch;
	gap: var(--gap-xs)
}

.container5,
.vertical-container25 {
	gap: var(--gap-5xl);
	width: 54px
}

.container5 {
	justify-content: space-between;
	gap: var(--gap-xl);
	flex-direction: row;
	width: 1216px;
	max-width: 100%
}

.horizontal-container24 {
	padding: 0 var(--padding-xl);
	box-sizing: border-box;
	font-size: var(--font-size-xs);
	flex-shrink: 0;
	align-items: center;
	width: 1280px;
	max-width: 103%
}

.container4,
.dum-lekaru-domaci-pece,
.horizontal-container24,
.lo-fi-ux-footer2 {
	flex-direction: column;
	justify-content: flex-start;
	display: flex
}

.container4 {
	padding: 0 0 0 var(--padding-13xl);
	box-sizing: border-box;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-45xl);
	max-width: 100%
}

.dum-lekaru-domaci-pece,
.lo-fi-ux-footer2 {
	background-color: var(--color-white)
}

.lo-fi-ux-footer2 {
	padding: var(--padding-45xl)var(--padding-61xl)var(--padding-13xl);
	box-sizing: border-box;
	text-align: left;
	font-size: var(--font-size-lg);
	color: var(--color-black);
	font-family: var(--font-inter);
	align-self: stretch;
	align-items: center;
	max-width: 100%
}

.dum-lekaru-domaci-pece {
	letter-spacing: normal;
	align-items: flex-start;
	width: 100%;
	line-height: normal;
	position: relative;
	overflow: hidden
}

@media screen and (width<=825px) {
	.low-fi-page-header2 {
		padding-left: var(--padding-21xl);
		padding-right: var(--padding-21xl);
		box-sizing: border-box
	}

	.header5,
	.header6,
	.header7 {
		font-size: var(--font-size-7xl);
		line-height: 30px
	}

	.lo-fi-ux-features2 {
		padding-top: var(--padding-23xl);
		padding-bottom: var(--padding-23xl);
		box-sizing: border-box
	}

	.links,
	.lo-fi-ux-footer2 {
		padding-left: var(--padding-37xl);
		padding-right: var(--padding-37xl);
		box-sizing: border-box
	}

	.lo-fi-ux-footer2 {
		padding-left: var(--padding-21xl);
		padding-right: var(--padding-21xl)
	}
}

@media screen and (width<=675px) {
	.container5 {
		flex-wrap: wrap;
		justify-content: center
	}

	.container4 {
		gap: var(--gap-13xl)
	}
}

@media screen and (width<=450px) {
	.header5,
	.header6,
	.header7 {
		font-size: var(--font-size-lgi);
		line-height: 23px
	}

	.lo-fi-ux-features2 {
		gap: var(--gap-5xl);
		padding-top: var(--padding-8xl);
		padding-bottom: var(--padding-8xl)
	}

	.links,
	.lo-fi-ux-features2,
	.row9 {
		box-sizing: border-box
	}

	.row9 {
		padding-top: var(--padding-2xl);
		padding-bottom: var(--padding-2xl)
	}

	.links {
		padding-left: var(--padding-xl);
		padding-right: var(--padding-xl)
	}

	.container4 {
		gap: var(--gap-base)
	}

	.lo-fi-ux-footer2 {
		padding-top: var(--padding-23xl);
		padding-bottom: var(--padding-2xl);
		box-sizing: border-box
	}
}

/*# sourceMappingURL=dum-lekaru-domaci-pece.892f6f33.css.map */