.image-2-icon2 {
	object-fit: cover;
	cursor: pointer;
	width: 113px;
	height: 50px;
	position: relative
}

.kontaktovat-sestru-emmy1 {
	font-size: var(--font-size-sm);
	font-weight: 500;
	font-family: var(--font-inter);
	color: var(--color-white);
	text-align: left;
	position: relative
}

button {
	cursor: pointer;
	padding: var(--padding-xs)var(--padding-5xl);
	background-color: var(--color-steelblue);
	border-radius: var(--br-xs);
	color: white;
	white-space: nowrap;
	border: 0;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	display: flex
}

button:hover {
	background-color: var(--color-deepskyblue)
}

.horizontal-container13 {
	flex-direction: row;
	align-items: center;
	display: flex
}

.horizontal-container13 {
	justify-content: flex-start
}

.vod {
	color: inherit;
	min-width: 35px;
	line-height: 20px;
	text-decoration: none;
	display: inline-block;
	position: relative
}

.poskytovan-pe {
	white-space: nowrap;
	cursor: pointer;
	min-width: 122px
}

.cenk,
.domc-pe,
.poskytovan-pe,
.vybaven {
	color: inherit;
	line-height: 20px;
	text-decoration: none;
	display: inline-block;
	position: relative
}

.domc-pe {
	white-space: nowrap;
	cursor: pointer;
	min-width: 87px
}

.cenk,
.vybaven {
	min-width: 61px
}

.cenk {
	min-width: 38px
}

.link-wrapper {
	justify-content: flex-start;
	align-items: center;
	gap: var(--gap-9xs);
	flex-direction: row;
	display: flex
}

.kontakt {
	color: inherit;
	min-width: 51px;
	line-height: 20px;
	text-decoration: none;
	display: inline-block;
	position: relative
}

.horizontal-container12,
.horizontal-container3 {
	flex-direction: row;
	align-items: center;
	max-width: 100%;
	display: flex
}

.horizontal-container3 {
	justify-content: center;
	gap: var(--gap-21xl);
	color: var(--color-black);
	margin: 0 !important
}

.horizontal-container12 {
	justify-content: space-between;
	align-self: stretch;
	gap: var(--gap-xl);
	position: relative
}

.horizontal-container11,
.lo-fi-ux-hero,
.low-fi-page-header1 {
	flex-direction: column;
	align-self: stretch;
	max-width: 100%;
	display: flex
}

.horizontal-container11 {
	padding: var(--padding-base)var(--padding-13xl);
	box-sizing: border-box;
	text-align: left;
	font-size: var(--font-size-sm);
	color: var(--color-white);
	font-family: var(--font-inter);
	justify-content: flex-start;
	align-items: flex-start
}

.lo-fi-ux-hero,
.low-fi-page-header1 {
	justify-content: center;
	align-items: center
}

.low-fi-page-header1 {
	padding: 0 var(--padding-61xl);
	box-sizing: border-box
}

.lo-fi-ux-hero {
	overflow: hidden
}

.background-icon1,
.overlay1 {
	position: absolute;
	margin: 0 !important
}

.background-icon1 {
	object-fit: cover;
	width: 1561px;
	height: 689px;
	top: -219px;
	left: -173px
}

.overlay1 {
	background-color: var(--color-gray-100);
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0
}

.nae-sluby-pro {
	font-size: inherit;
	z-index: 2;
	flex-shrink: 0;
	width: 651px;
	max-width: 100%;
	margin: 0;
	font-family: inherit;
	font-weight: 500;
	line-height: 44px;
	display: inline-block;
	position: relative
}

.nae-zdravotnick-zazen {
	z-index: 2;
	align-self: stretch;
	line-height: 20px;
	position: relative
}

.background-group,
.content2,
.hero-description {
	box-sizing: border-box;
	align-items: flex-start;
	max-width: 100%;
	display: flex
}

.hero-description {
	padding: var(--padding-45xl)0 0;
	font-size: var(--font-size-sm);
	flex-direction: column;
	justify-content: flex-start;
	width: 651px;
	margin-left: -651px
}

.background-group,
.content2 {
	flex-direction: row;
	justify-content: center
}

.background-group {
	border-radius: var(--br-xl);
	padding: var(--padding-45xl)var(--padding-xl);
	flex-shrink: 0;
	width: 1216px;
	position: relative;
	overflow: hidden
}

.content2 {
	padding: 0 var(--padding-xl)var(--padding-45xl);
	text-align: center;
	font-size: var(--font-size-19xl);
	color: var(--color-white);
	font-family: var(--font-inter);
	align-self: stretch
}

.service-feature-icon {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	position: relative;
	overflow: hidden
}

.service-list-icon-container {
	border-radius: var(--br-xs);
	background-color: var(--color-white);
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	display: flex
}

.service-descriptions {
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.service-descriptions {
	box-sizing: border-box;
	flex-direction: column;
	flex: 1;
	font-weight: 500;
}

.service-list-feature {
	display: flex;
	box-shadow: var(--shadow-xsm);
	border-radius: var(--br-base);
	background-color: var(--neutral-50);
	border: 1px solid var(--neutral-600);
	padding: var(--padding-7xs)var(--padding-mini);
	align-self: stretch;
	gap: var(--gap-5xs);
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.service-list-feature.active {
	border: 1px solid var(--color-red);
}

.service-list-feature.active img {
	filter: invert(21%) sepia(100%) saturate(7414%) hue-rotate(359deg) brightness(94%) contrast(117%);
}

.tablerlist-check-icon {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	position: relative;
	overflow: hidden
}

.low-fi-avatar7 {
	border-radius: var(--br-xs);
	background-color: var(--color-white);
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	display: flex
}

.preventivn-prohldky {
	align-self: stretch;
	font-weight: 500;
	position: relative
}

.features-base7,
.preventivn-prohldky-wrapper {
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.preventivn-prohldky-wrapper {
	padding: var(--padding-2xs-5)0 0;
	box-sizing: border-box;
	flex-direction: column;
	flex: 1;
	min-width: 177px
}

.features-base7 {
	box-shadow: var(--shadow-xsm);
	border-radius: var(--br-base);
	background-color: var(--neutral-50);
	border: 1px solid var(--neutral-600);
	padding: var(--padding-7xs)var(--padding-mini);
	align-self: stretch;
	gap: var(--gap-base);
	flex-direction: row
}

.covidvirus-lab-research-magni-icon {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	position: relative;
	overflow: hidden
}

.low-fi-avatar8 {
	border-radius: var(--br-xs);
	background-color: var(--color-white);
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	display: flex
}

.sledovn-dispenzarizace-one {
	align-self: stretch;
	font-weight: 500;
	position: relative
}

.features-base8,
.sledovn-dispenzarizace-one-wrapper {
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.sledovn-dispenzarizace-one-wrapper {
	padding: var(--padding-12xs)0 0;
	box-sizing: border-box;
	flex-direction: column;
	flex: 1;
	min-width: 177px
}

.features-base8 {
	box-shadow: var(--shadow-xsm);
	border-radius: var(--br-base);
	background-color: var(--neutral-50);
	border: 1px solid var(--neutral-600);
	padding: var(--padding-7xs)var(--padding-mini);
	align-self: stretch;
	gap: var(--gap-base);
	flex-direction: row
}

.phcar-icon {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	position: relative;
	overflow: hidden
}

.low-fi-avatar9 {
	border-radius: var(--br-xs);
	background-color: var(--color-white);
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	display: flex;
	box-shadow: 0 0 16px #a2aeb526
}

.posudek-na-idisk {
	align-self: stretch;
	font-weight: 500;
	position: relative
}

.features-base9,
.posudek-na-idisk-prkaz-wrapper {
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.posudek-na-idisk-prkaz-wrapper {
	padding: var(--padding-2xs-5)0 0;
	box-sizing: border-box;
	flex-direction: column;
	flex: 1;
	min-width: 177px
}

.riscissors-cut-line-icon {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	position: relative;
	overflow: hidden
}

.low-fi-avatar10 {
	border-radius: var(--br-xs);
	background-color: var(--color-white);
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	display: flex
}

.pedoperan-vyeten {
	align-self: stretch;
	font-weight: 500;
	position: relative
}

.features-base10,
.pedoperan-vyeten-wrapper {
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.pedoperan-vyeten-wrapper {
	padding: var(--padding-2xs-5)0 0;
	box-sizing: border-box;
	flex-direction: column;
	flex: 1;
	min-width: 177px
}

.features-base10 {
	box-shadow: var(--shadow-xsm);
	border-radius: var(--br-base);
	background-color: var(--neutral-50);
	border: 1px solid var(--neutral-600);
	padding: var(--padding-7xs)var(--padding-mini);
	align-self: stretch;
	gap: var(--gap-base);
	flex-direction: row
}

.material-symbols-lightsick-ou-icon {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	position: relative;
	overflow: hidden
}

.low-fi-avatar11 {
	border-radius: var(--br-xs);
	background-color: var(--color-white);
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	display: flex
}

.doasn-pracovn-neschopnost {
	align-self: stretch;
	font-weight: 500;
	position: relative
}

.doasn-pracovn-neschopnost-wrapper,
.features-base11 {
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.doasn-pracovn-neschopnost-wrapper {
	padding: var(--padding-2xs-5)0 0;
	box-sizing: border-box;
	flex-direction: column;
	flex: 1;
	min-width: 177px
}

.features-base11 {
	box-shadow: var(--shadow-xsm);
	border-radius: var(--br-base);
	background-color: var(--neutral-50);
	border: 1px solid var(--neutral-600);
	padding: var(--padding-7xs)var(--padding-mini);
	align-self: stretch;
	gap: var(--gap-base);
	flex-direction: row
}

.streamlinehot-spring-icon {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	position: relative;
	overflow: hidden
}

.low-fi-avatar12 {
	border-radius: var(--br-xs);
	background-color: var(--color-white);
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	display: flex
}

.nvrh-na-lzeskou {
	align-self: stretch;
	font-weight: 500;
	position: relative
}

.features-base12,
.nvrh-na-lzeskou-pi-wrapper {
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.nvrh-na-lzeskou-pi-wrapper {
	padding: var(--padding-2xs-5)0 0;
	box-sizing: border-box;
	flex-direction: column;
	flex: 1;
	min-width: 177px
}

.features-base12 {
	box-shadow: var(--shadow-xsm);
	border-radius: var(--br-base);
	background-color: var(--neutral-50);
	border: 1px solid var(--neutral-600);
	padding: var(--padding-7xs)var(--padding-mini);
	align-self: stretch;
	gap: var(--gap-base);
	flex-direction: row
}

.hugeiconsinjection {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	position: relative;
	overflow: hidden
}

.low-fi-avatar13 {
	border-radius: var(--br-xs);
	background-color: var(--color-white);
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	display: flex
}

.okovn {
	align-self: stretch;
	font-weight: 500;
	position: relative
}

.features-base13,
.okovn-wrapper {
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.okovn-wrapper {
	padding: var(--padding-2xs-5)0 0;
	box-sizing: border-box;
	flex-direction: column;
	flex: 1;
	min-width: 177px
}

.features-base13 {
	box-shadow: var(--shadow-xsm);
	border-radius: var(--br-base);
	background-color: var(--neutral-50);
	border: 1px solid var(--neutral-600);
	padding: var(--padding-7xs)var(--padding-mini);
	align-self: stretch;
	gap: var(--gap-base);
	flex-direction: row
}

.hugeiconsblood-bottle {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	position: relative;
	overflow: hidden
}

.low-fi-avatar14 {
	border-radius: var(--br-xs);
	background-color: var(--color-white);
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	display: flex
}

.infzn-stacion {
	align-self: stretch;
	font-weight: 500;
	position: relative
}

.features-base14,
.infzn-stacion-wrapper {
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.infzn-stacion-wrapper {
	padding: var(--padding-2xs-5)0 0;
	box-sizing: border-box;
	flex-direction: column;
	flex: 1;
	min-width: 177px
}

.features-base14 {
	box-shadow: var(--shadow-xsm);
	border-radius: var(--br-base);
	background-color: var(--neutral-50);
	border: 1px solid var(--neutral-600);
	padding: var(--padding-7xs)var(--padding-mini);
	align-self: stretch;
	gap: var(--gap-base);
	flex-direction: row
}

.hugeiconsmask {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	position: relative;
	overflow: hidden
}

.low-fi-avatar15 {
	border-radius: var(--br-xs);
	background-color: var(--color-white);
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	display: flex
}

.chirurgick-a-pevazov {
	align-self: stretch;
	font-weight: 500;
	position: relative
}

.chirurgick-a-pevazov-pe-wrapper {
	padding: var(--padding-2xs-5)0 0;
	box-sizing: border-box;
	flex-direction: column;
	flex: 1;
	min-width: 177px
}

.chirurgick-a-pevazov-pe-wrapper,
.features-base15,
.list1 {
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.features-base15 {
	box-shadow: var(--shadow-xsm);
	border-radius: var(--br-base);
	background-color: var(--neutral-50);
	border: 1px solid var(--neutral-600);
	padding: var(--padding-7xs)var(--padding-mini);
	align-self: stretch;
	gap: var(--gap-base);
	flex-direction: row
}

.list1 {
	gap: var(--gap-5xs);
	flex-direction: column;
	flex-basis: 360px;
}

.doporuujeme-se-objednat {
	align-self: stretch;
	font-weight: 500;
	position: relative
}

.kontaktovat-sestru-emmy5 {
	font-size: var(--font-size-sm);
	font-weight: 500;
	font-family: var(--font-inter);
	color: var(--color-white);
	text-align: left;
	position: relative
}

.horizontal-container15,
.low-fi-button6 {
	flex-direction: row;
	align-items: center;
	display: flex
}

.low-fi-button6 {
	border-radius: var(--br-xs);
	background-color: var(--color-steelblue);
	padding: var(--padding-xs)var(--padding-5xl);
	white-space: nowrap;
	justify-content: center
}

.horizontal-container15 {
	cursor: pointer;
	background-color: #0000;
	border: 0;
	justify-content: flex-start;
	padding: 0
}

.subtitle-wrapper1 {
	padding: 0 0 var(--padding-base);
	justify-content: center;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-3xs);
	flex-direction: column;
	display: flex
}

.posudek-se-vydv {
	align-self: stretch;
	font-weight: 500;
	position: relative
}

.lkask-prohldky-se,
.prohlen-idie-ke {
	margin-bottom: 10px
}

.prohlen-idie-ke-sv-zdrav {
	font-family: inherit;
	font-size: inherit;
	padding-left: var(--padding-lgi);
	margin: 0
}

.prohlen-idie-ke-container {
	font-size: var(--font-size-sm);
	align-self: stretch;
	line-height: 20px;
	position: relative
}

.certificate-dividers,
.live-wrapper2 {
	box-sizing: border-box;
	align-self: stretch;
	max-width: 100%
}

.certificate-dividers {
	border-top: 1px solid var(--neutral-600);
	flex: 1;
	position: relative
}

.live-wrapper2 {
	padding: var(--padding-base)0 var(--padding-mini);
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	height: 32px;
	display: flex
}

.k-vyeten-a-vystaven {
	align-self: stretch;
	font-weight: 500;
	position: relative
}

.korekci-zraku-brle,
.platn-obansk-a,
.vyplnnm-prohlen-idie {
	margin-bottom: 10px
}

.platn-obansk-a-idisk-pr {
	font-family: inherit;
	font-size: inherit;
	padding-left: var(--padding-lgi);
	margin: 0
}

.platn-obansk-a-container {
	font-size: var(--font-size-sm);
	align-self: stretch;
	line-height: 20px;
	position: relative
}

.live-wrapper-item,
.live-wrapper3 {
	box-sizing: border-box;
	align-self: stretch;
	max-width: 100%
}

.live-wrapper-item {
	border-top: 1px solid var(--neutral-600);
	flex: 1;
	position: relative
}

.live-wrapper3 {
	padding: var(--padding-base)0 var(--padding-mini);
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	height: 32px;
	display: flex
}

.kdo-mus-podstupovat {
	align-self: stretch;
	font-weight: 500;
	position: relative
}

.dritel-idiskho-oprvnn {
	margin-bottom: 10px
}

.dritel-idiskho-oprvnn-s {
	font-family: inherit;
	font-size: inherit;
	padding-left: var(--padding-lgi);
	margin: 0
}

.dritel-idiskho-oprvnn-container {
	font-size: var(--font-size-sm);
	align-self: stretch;
	line-height: 20px;
	position: relative
}

.live-wrapper-inner,
.live-wrapper4 {
	box-sizing: border-box;
	align-self: stretch;
	max-width: 100%
}

.live-wrapper-inner {
	border-top: 1px solid var(--neutral-600);
	flex: 1;
	position: relative
}

.live-wrapper4 {
	padding: var(--padding-base)0 var(--padding-mini);
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	height: 32px;
	display: flex
}

.aktuln-platn-cenk {
	text-decoration: underline
}

.posudek-k-zen-motorovch-container {
	font-size: var(--font-size-sm);
	width: 727px;
	max-width: 100%;
	line-height: 20px;
	display: inline-block;
	position: relative
}

.dokumenty-ke-staen {
	width: 696px;
	max-width: 100%;
	font-weight: 500;
	display: inline-block;
	position: relative
}

.material-symbolsdownload-icon {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	position: relative;
	overflow: hidden
}

.download-icon-containers {
	padding: var(--padding-11xs)0 0;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.prohlen-posuzovan-osoby {
	line-height: 20px;
	text-decoration: underline;
	position: relative
}

.download-item-containers {
	justify-content: flex-start;
	align-items: flex-start;
	gap: var(--gap-9xs);
	flex-direction: row;
	display: flex
}

.material-symbolsdownload-icon1 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	position: relative;
	overflow: hidden
}

.material-symbolsdownload-wrapper {
	padding: var(--padding-11xs)0 0;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.dost-o-posouzen {
	line-height: 20px;
	text-decoration: underline;
	position: relative
}

.download-item-containers1 {
	justify-content: flex-start;
	align-items: flex-start;
	gap: var(--gap-9xs);
	flex-direction: row;
	max-width: 100%;
	display: flex
}

.download-items,
.row5 {
	justify-content: flex-start;
	gap: var(--gap-5xs);
	flex-direction: column
}

.download-items {
	font-size: var(--font-size-sm);
	align-items: flex-start;
	max-width: 100%;
	display: flex
}

.row5 {
	border-radius: var(--br-xl);
	background-color: var(--color-white);
	padding: var(--padding-base);
	box-sizing: border-box;
	align-self: stretch;
	overflow: hidden
}

.row4,
.row5,
.services,
.services-list {
	align-items: flex-start;
	max-width: 100%;
	display: flex
}

.row4 {
	box-shadow: var(--shadow-xsm);
	border-radius: var(--br-xl);
	background-color: var(--neutral-50);
	border: 1px solid var(--neutral-600);
	box-sizing: border-box;
	padding: var(--padding-11xl)var(--padding-12xl);
	justify-content: flex-start;
	gap: var(--gap-base);
	flex-direction: column;
	flex: 1;
	width: 100%;
	overflow: hidden
}

.services {
	flex-direction: row;
	justify-content: center;
}

.services-list {
	gap: var(--gap-13xl);
	width: 1216px;
	justify-content: flex-start;
}

.services {
	margin-top: var(--padding-45xl);
	padding: 0 var(--padding-xl)var(--padding-93xl);
	box-sizing: border-box;
	text-align: left;
	font-size: var(--font-size-base);
	color: var(--color-black);
	font-family: var(--font-inter);
	align-self: stretch
}

.header4 {
	font-size: inherit;
	width: 646px;
	margin: 0;
	font-family: inherit;
	font-weight: 500;
	line-height: 38px;
	display: inline-block;
	position: relative
}

.home-treatment {
	padding: 0 var(--padding-xl);
	text-align: center;
	font-size: var(--font-size-13xl);
	flex-direction: row;
	justify-content: center;
	align-self: stretch;
	align-items: flex-start;
	display: flex
}

.desatero-doporuen-pro {
	flex: 1;
	max-width: 100%;
	font-weight: 500;
	display: inline-block;
	position: relative
}

.subtitle-wrapper2 {
	padding: 0 0 var(--padding-base);
	box-sizing: border-box;
	flex-direction: row;
	justify-content: flex-start;
	align-self: stretch;
	align-items: center;
	max-width: 100%;
	display: flex
}

.bute-bhem-dne,
.dvejte-pozor-na,
.lko-je-ureno,
.obrazovky-a-elektronick,
.ped-spanm-si,
.pravidlo-15-minut,
.spte-v-pjemnm-prosted,
.urete-si-pravideln,
.vystavujte-se-co {
	margin-bottom: 10px
}

.spte-v-pjemnm-prosted-p {
	font-family: inherit;
	font-size: inherit;
	padding-left: var(--padding-lgi);
	margin: 0
}

.spte-v-pjemnm-prosted-container {
	font-size: var(--font-size-sm);
	align-self: stretch;
	line-height: 20px;
	position: relative
}

.tips-content {
	padding: var(--padding-13xl);
	box-sizing: border-box;
	justify-content: flex-end;
	align-items: flex-end;
	gap: var(--gap-3xs);
	flex-direction: column;
	flex: 1;
	flex-basis: 491px;
	display: flex
}

.horizontal-container16,
.image-23-icon {
	border-radius: var(--br-xl);
	max-width: 100%
}

.image-23-icon {
	object-fit: cover;
	width: 450px;
	max-height: 100%;
	position: relative
}

.horizontal-container16 {
	justify-content: center;
	align-self: stretch;
	align-items: center;
	gap: var(--gap-3xs);
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
}

.line-div,
.live-wrapper5 {
	box-sizing: border-box;
	align-self: stretch;
	max-width: 100%
}

.line-div {
	border-top: 1px solid var(--neutral-600);
	flex: 1;
	position: relative
}

.live-wrapper5 {
	padding: var(--padding-base)0 var(--padding-mini);
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	height: 32px;
	display: flex
}

.image-23-icon1 {
	border-radius: var(--br-xl);
	object-fit: cover;
	width: 450px;
	max-width: 100%;
	max-height: 100%;
	position: relative
}

.doporuen-pro-domc {
	flex: 1;
	max-width: 100%;
	font-weight: 500;
	display: inline-block;
	position: relative
}

.subtitle-wrapper3 {
	padding: 0 0 var(--padding-base);
	box-sizing: border-box;
	flex-direction: row;
	justify-content: flex-start;
	align-self: stretch;
	align-items: center;
	max-width: 100%;
	display: flex
}

.horeku-tlumte-a-pokud-vystou,
.nezapomnejte-na-okovn-a-to,
.pijte-dostaten-mnostv-teku,
.vyvarujte-se-zven-fyzick1 {
	margin-bottom: 10px
}

.pi-bolestech-v-krku-kloktejte,
.pi-kali-sledujte-charakter-v,
.pi-rm-uvejte-voln-dostup {
	margin-bottom: 10px
}

.vyvarujte-se-zven-fyzick {
	font-family: inherit;
	font-size: inherit;
	padding-left: var(--padding-lgi);
	margin: 0
}

.vyvarujte-se-zven-container {
	font-size: var(--font-size-sm);
	word-break: break-word;
	width: 692px;
	max-height: 430px;
	line-height: 20px;
	display: inline-block;
	position: relative
}

.treatment-description {
	padding: var(--padding-13xl);
	box-sizing: border-box;
	justify-content: flex-end;
	align-items: flex-end;
	gap: var(--gap-3xs);
	flex-direction: column;
	flex: 1;
	min-width: 491px;
	max-width: 100%;
	display: flex
}

.octiconplay-24,
.video-rhino-horn {
	position: absolute;
	margin: 0 !important
}

.octiconplay-24 {
	z-index: 1;
	flex-shrink: 0;
	width: 38px;
	height: 38px;
	top: calc(50% - 18.5px);
	left: 206px;
	overflow: hidden
}

.video-rhino-horn {
	font-size: var(--font-size-xs);
	line-height: 18px;
	display: inline-block;
	top: 424px;
	left: 134px
}

.live-wrapper-child1,
.live-wrapper6 {
	box-sizing: border-box;
	align-self: stretch;
	max-width: 100%
}

.live-wrapper-child1 {
	border-top: 1px solid var(--neutral-600);
	flex: 1;
	position: relative
}

.live-wrapper6 {
	padding: var(--padding-base)0 var(--padding-mini);
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	height: 32px;
	display: flex
}

.doporuen-pi-prjmovitm {
	flex: 1;
	max-width: 100%;
	font-weight: 500;
	display: inline-block;
	position: relative
}

.subtitle-wrapper4 {
	padding: 0 0 var(--padding-base);
	box-sizing: border-box;
	flex-direction: row;
	justify-content: flex-start;
	align-self: stretch;
	align-items: center;
	max-width: 100%;
	display: flex
}

.dostaten-psun-tekutin,
.nevhodn-jsou-ovocn,
.vhodn-jsou-rov,
.z-ovoce-jsou-vhodn {
	margin-bottom: 10px
}

.dostaten-psun-tekutin-vho {
	font-family: inherit;
	font-size: inherit;
	padding-left: var(--padding-lgi);
	margin: 0
}

.dostaten-psun-tekutin-container {
	font-size: var(--font-size-sm);
	align-self: stretch;
	line-height: 20px;
	position: relative
}

.subtitle-wrapper-parent {
	padding: var(--padding-13xl);
	box-sizing: border-box;
	justify-content: flex-end;
	align-items: flex-end;
	gap: var(--gap-3xs);
	flex-direction: column;
	flex: 1;
	min-width: 491px;
	max-width: 100%;
	display: flex
}

.horizontal-container18,
.image-23-icon2 {
	border-radius: var(--br-xl);
	max-width: 100%
}

.image-23-icon2 {
	object-fit: cover;
	width: 450px;
	max-height: 100%;
	position: relative
}

.live-wrapper-child2,
.live-wrapper7 {
	box-sizing: border-box;
	align-self: stretch;
	max-width: 100%
}

.live-wrapper-child2 {
	border-top: 1px solid var(--neutral-600);
	flex: 1;
	position: relative
}

.live-wrapper7 {
	padding: var(--padding-base)0 var(--padding-mini);
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	height: 32px;
	display: flex
}

.zde-najdete-nkolik {
	font-weight: 500;
	position: relative
}

.prevention-tips {
	padding: 0 var(--padding-xl);
	text-align: center;
	flex-direction: row;
	justify-content: center;
	align-self: stretch;
	align-items: flex-start;
	display: flex
}

.domc-men-krevnho,
.image-23-icon3 {
	align-self: stretch;
	position: relative
}

.image-23-icon3 {
	border-radius: var(--br-xs);
	object-fit: cover;
	flex: 1;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden
}

.domc-men-krevnho {
	font-weight: 500
}

.other-features {
	box-shadow: var(--shadow-xsm);
	border-radius: var(--br-xl);
	background-color: var(--color-white);
	border: 1px solid var(--neutral-600);
	box-sizing: border-box;
	padding: var(--padding-5xl)var(--padding-12xl);
	justify-content: flex-start;
	align-items: flex-start;
	gap: var(--gap-5xl);
	flex-direction: column;
	flex: 1;
	flex-basis: 290px;
	max-width: 390px;
	height: 210px;
	display: flex
}

.doporuen-pi-nhlm,
.image-23-icon4 {
	align-self: stretch;
	position: relative
}

.image-23-icon4 {
	border-radius: var(--br-xs);
	object-fit: cover;
	flex: 1;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden
}

.doporuen-pi-nhlm {
	font-weight: 500
}

.features-base17,
.text-container6 {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.text-container6 {
	align-self: stretch
}

.features-base17 {
	box-shadow: var(--shadow-xsm);
	border-radius: var(--br-xl);
	background-color: var(--color-white);
	border: 1px solid var(--neutral-600);
	box-sizing: border-box;
	padding: var(--padding-5xl)var(--padding-12xl);
	gap: var(--gap-5xl);
	flex: 1;
	min-width: 350px;
	max-width: 100%;
	height: 210px
}

.image-23-icon5 {
	border-radius: var(--br-xs);
	object-fit: cover;
	flex: 1;
	align-self: stretch;
	max-width: 100%;
	max-height: 100%;
	position: relative;
	overflow: hidden
}

.reim-hypertonika-nemocnho {
	align-self: stretch;
	font-weight: 500;
	position: relative
}

.features-base18,
.text-container7 {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.text-container7 {
	align-self: stretch
}

.features-base18 {
	box-shadow: var(--shadow-xsm);
	border-radius: var(--br-xl);
	background-color: var(--color-white);
	border: 1px solid var(--neutral-600);
	box-sizing: border-box;
	padding: var(--padding-5xl)var(--padding-12xl);
	gap: var(--gap-5xl);
	flex: 1;
	min-width: 350px;
	max-width: 100%;
	height: 210px
}

.image-23-icon6 {
	border-radius: var(--br-xs);
	object-fit: cover;
	flex: 1;
	align-self: stretch;
	max-width: 100%;
	max-height: 100%;
	position: relative;
	overflow: hidden
}

.doporuen-k-zabrnn-vzniku {
	align-self: stretch;
	font-weight: 500;
	position: relative
}

.features-base19,
.text-container8 {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.text-container8 {
	align-self: stretch
}

.features-base19 {
	box-shadow: var(--shadow-xsm);
	border-radius: var(--br-xl);
	background-color: var(--color-white);
	border: 1px solid var(--neutral-600);
	box-sizing: border-box;
	padding: var(--padding-5xl)var(--padding-12xl);
	gap: var(--gap-5xl);
	width: 384px;
	min-width: 350px;
	max-width: 100%;
	height: 210px
}

.image-23-icon7 {
	border-radius: var(--br-xs);
	object-fit: cover;
	flex: 1;
	align-self: stretch;
	max-width: 100%;
	max-height: 100%;
	position: relative;
	overflow: hidden
}

.doporuen-k-prevenci-osteopor {
	align-self: stretch;
	font-weight: 500;
	position: relative
}

.features-base20,
.text-container9 {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.text-container9 {
	align-self: stretch
}

.features-base20 {
	box-shadow: var(--shadow-xsm);
	border-radius: var(--br-xl);
	background-color: var(--color-white);
	border: 1px solid var(--neutral-600);
	box-sizing: border-box;
	padding: var(--padding-5xl)var(--padding-12xl)43px;
	gap: var(--gap-5xl);
	width: 384px;
	min-width: 350px;
	max-width: 100%;
	height: 210px
}

.additional-tips {
	flex-flow: wrap;
	justify-content: center;
	align-self: stretch;
	gap: 32px 30px;
	min-height: 452px
}

.additional-tips,
.health-tips,
.tips-container {
	align-items: flex-start;
	max-width: 100%;
	display: flex
}

.tips-container {
	justify-content: flex-start;
	gap: var(--gap-13xl);
	flex-direction: column;
	width: 1216px
}

.health-tips {
	padding: 0 var(--padding-xl)var(--padding-61xl);
	box-sizing: border-box;
	text-align: left;
	font-size: var(--font-size-base);
	color: var(--color-black);
	font-family: var(--font-inter);
	flex-direction: row;
	justify-content: center;
	align-self: stretch
}

.image-2-icon3 {
	object-fit: cover;
	width: 108px;
	height: 50px;
	position: relative
}

.dm-lka-as2 {
	flex: 1;
	font-weight: 500;
	position: relative
}

.subtitle-wrapper5 {
	padding: 0 0 var(--padding-base);
	flex-direction: row;
	justify-content: flex-start;
	align-self: stretch;
	align-items: center;
	display: flex
}

.bezruova-41322,
.nov-jin2,
.p2 {
	margin: 0
}

.bezruova-4132-nov-jin-741-container2 {
	font-size: var(--font-size-sm);
	align-self: stretch;
	line-height: 20px;
	position: relative
}

.icon-placeholder-fill20 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child12 {
	border-radius: var(--br-31xl);
	background-color: var(--color-steelblue);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon20 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link20 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill21 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child13 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon21 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link21 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill22 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child14 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon22 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link22 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill23 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child15 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon23 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link23 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill24 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child16 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon24 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link24,
.vertical-container11,
.vertical-container12 {
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.low-fi-link24 {
	align-self: stretch;
	gap: var(--gap-7xs);
	flex-direction: row
}

.vertical-container11,
.vertical-container12 {
	flex-direction: column
}

.vertical-container12 {
	align-self: stretch;
	gap: var(--gap-xs)
}

.vertical-container11 {
	gap: var(--gap-5xl);
	width: 54px
}

.icon-placeholder-fill25 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child17 {
	border-radius: var(--br-31xl);
	background-color: var(--color-steelblue);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon25 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link25 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill26 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child18 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon26 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link26 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill27 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child19 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon27 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link27 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill28 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child20 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon28 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link28 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill29 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child21 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon29 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link29,
.vertical-container13,
.vertical-container14 {
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.low-fi-link29 {
	align-self: stretch;
	gap: var(--gap-7xs);
	flex-direction: row
}

.vertical-container13,
.vertical-container14 {
	flex-direction: column
}

.vertical-container14 {
	align-self: stretch;
	gap: var(--gap-xs)
}

.vertical-container13 {
	gap: var(--gap-5xl);
	width: 54px
}

.icon-placeholder-fill30 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child22 {
	border-radius: var(--br-31xl);
	background-color: var(--color-steelblue);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon30 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link30 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill31 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child23 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon31 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link31 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill32 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child24 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon32 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link32 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill33 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child25 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon33 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link33 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill34 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child26 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon34 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link34,
.vertical-container15,
.vertical-container16 {
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.low-fi-link34 {
	align-self: stretch;
	gap: var(--gap-7xs);
	flex-direction: row
}

.vertical-container15,
.vertical-container16 {
	flex-direction: column
}

.vertical-container16 {
	align-self: stretch;
	gap: var(--gap-xs)
}

.vertical-container15 {
	gap: var(--gap-5xl);
	width: 54px
}

.icon-placeholder-fill35 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child27 {
	border-radius: var(--br-31xl);
	background-color: var(--color-steelblue);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon35 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link35 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill36 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child28 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon36 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link36 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill37 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child29 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon37 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link37 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill38 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child30 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon38 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link38 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.icon-placeholder-fill39 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link-child31 {
	border-radius: var(--br-31xl);
	background-color: var(--neutral-700);
	flex: 1;
	height: 16px;
	position: relative
}

.placeholder-fill-icon39 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	min-height: 16px;
	display: none;
	position: relative;
	overflow: hidden
}

.low-fi-link39 {
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-7xs);
	flex-direction: row;
	display: flex
}

.container3,
.vertical-container17,
.vertical-container18 {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.vertical-container18 {
	align-self: stretch;
	gap: var(--gap-xs)
}

.container3,
.vertical-container17 {
	gap: var(--gap-5xl);
	width: 54px
}

.container3 {
	justify-content: space-between;
	gap: var(--gap-xl);
	flex-direction: row;
	width: 1216px;
	max-width: 100%
}

.horizontal-container19 {
	padding: 0 var(--padding-xl);
	font-size: var(--font-size-xs);
	flex-shrink: 0;
	align-items: center;
	width: 1280px;
	max-width: 103%
}

.container2,
.horizontal-container19,
.lo-fi-ux-footer1 {
	box-sizing: border-box;
	flex-direction: column;
	justify-content: flex-start;
	display: flex
}

.container2 {
	padding: 0 0 0 var(--padding-13xl);
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-45xl);
	max-width: 100%
}

.lo-fi-ux-footer1 {
	background-color: var(--color-white)
}

.lo-fi-ux-footer1 {
	padding: var(--padding-45xl)var(--padding-61xl)var(--padding-13xl);
	text-align: left;
	font-size: var(--font-size-lg);
	color: var(--color-black);
	font-family: var(--font-inter);
	align-self: stretch;
	align-items: center;
	max-width: 100%
}

.image-video {
	position: relative;
}

.play-video-icon {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
}

.image-video:hover .play-video-icon {
	opacity: 0.6;
}

@media screen and (width<=1000px) {
	.services-list {
		flex-direction: column;
	}
}

@media screen and (width<=750px) {
	.services {
		margin-top: var(--padding-23xl)
	}

	.row4 {
		padding: var(--padding-5xl) var(--padding-base);
	}

	.tips-container {
		gap: var(--gap-5xs)
	}

	.tips-content {
		padding: var(--padding-base) 0;
	}

	.other-features {
		padding: var(--padding-base);
		gap: var(--gap-5xs);
	}

	.additional-tips {
		gap: var(--gap-base);
	}
}

/*# sourceMappingURL=dum-lekaru-poskytovana-pece.62f03d40.css.map */