.kontaktovat-sestru-emmy {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    position: relative
}

.background-icon,
.overlay {
    position: absolute;
    margin: 0 !important
}

.overlay {
    background-color: var(--color-gray-100);
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0
}

.background-icon {
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.konstantn-tm-lka,
.kte-o-vs {
    margin: 0
}

.konstantn-tm-lka-container {
    font-size: inherit;
    align-self: stretch;
    margin: 0;
    font-family: inherit;
    font-weight: 500;
    line-height: 44px;
    position: relative
}

.poskytujeme-standardn-lebn {
    font-size: var(--font-size-sm);
    align-self: stretch;
    line-height: 20px;
    position: relative
}

.paragraph-container {
    justify-content: flex-start;
    align-self: stretch;
    align-items: center;
    gap: var(--gap-xl);
    flex-direction: column;
    display: flex
}

.phinfo-icon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden
}

.jak-emmy-pouvat a {
    min-width: 116px;
    line-height: 18px;
    text-decoration: underline;
    color: var(--color-black);
    display: inline-block;
    position: relative
}
.jak-emmy-pouvat a.white {
    color: var(--color-white);   
}

.horizontal-container4 {
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-9xs);
    flex-direction: row;
    display: flex
}

.vertical-container,
.vertical-container1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex
}

.vertical-container1 {
    gap: var(--gap-5xs);
    text-align: left;
    font-size: var(--font-size-xs)
}

.vertical-container {
    gap: var(--gap-5xl);
    z-index: 2;
    flex: 1;
    max-width: 100%
}

.background-parent,
.main-content {
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
    display: flex
}

.background-parent {
    justify-content: flex-start;
    width: 651px;
    position: relative
}

.main-content {
    justify-content: center;
    width: 1216px
}

.image-5-icon {
    object-fit: cover;
    flex: 1;
    align-self: stretch;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    overflow: hidden
}

.image-5-wrapper {
    padding: var(--padding-11xs)0 0;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 114px;
    height: 61px;
    display: flex
}

.image-8-icon {
    object-fit: cover;
    flex-shrink: 0;
    align-self: stretch;
    max-width: 100%;
    height: 43px;
    position: relative;
    overflow: hidden
}

.image-8-wrapper {
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 174px;
    padding: 10px 0 0;
    display: flex
}

.image-7-icon {
    object-fit: contain;
    width: 97px;
    height: 63px;
    min-height: 63px;
    position: relative
}

.image-9-icon {
    object-fit: cover;
    flex: 1;
    align-self: stretch;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    overflow: hidden
}

.image-9-wrapper {
    padding: var(--padding-12xs)0 0;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80px;
    height: 62px;
    display: flex
}

.image-17-icon {
    object-fit: cover;
    flex-shrink: 0;
    align-self: stretch;
    max-width: 100%;
    height: 47px;
    position: relative;
    overflow: hidden
}

.image-17-wrapper {
    padding: var(--padding-5xs)0 0;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 63px;
    display: flex
}

.image-18-icon {
    object-fit: cover;
    width: 59px;
    height: 55px;
    position: relative
}

.image-18-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4px 0 0;
    display: flex
}

.image-19-icon {
    object-fit: cover;
    flex: 1;
    align-self: stretch;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    overflow: hidden
}

.image-19-wrapper {
    padding: var(--padding-7xs)0 0;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 117px;
    height: 57px;
    display: flex
}

.horizontal-container5 {
    border-radius: var(--br-xl)var(--br-xl)0 0;
    background-color: var(--color-white);
    padding: var(--padding-base)68px var(--padding-base)var(--padding-45xl);
    justify-content: space-between;
    align-self: stretch;
    align-items: flex-start;
    gap: var(--gap-xl);
    z-index: 2;
    flex-flow: wrap;
    display: flex
}

.phinfo-icon1 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden
}

.phinfo-wrapper {
    padding: var(--padding-12xs)0 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex
}

.lkaskou-pi-poskytujeme {
    line-height: 18px;
    position: relative
}

.horizontal-container6 {
    background-color: var(--color-white);
    padding: 0 var(--padding-xl);
    justify-content: center;
    align-self: stretch;
    align-items: flex-start;
    gap: var(--gap-9xs);
    z-index: 2;
    flex-direction: row;
    display: flex
}

.image-gallery {
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-black);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1216px;
    max-width: 100%;
    display: flex
}

.overlay-parent,
.pro-si-vybrat {
    max-width: 100%;
    position: relative
}

.overlay-parent {
    padding: 140px var(--padding-xl)0;
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-size-19xl);
    color: var(--color-white);
    font-family: var(--font-inter);
    flex-direction: column;
    justify-content: flex-start;
    align-self: stretch;
    align-items: center;
    gap: 198px;
    display: flex;
    overflow: hidden
}

.pro-si-vybrat {
    font-size: inherit;
    margin: 0;
    font-family: inherit;
    font-weight: 500;
    line-height: 38px;
    display: inline-block
}

.header {
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-self: stretch;
    align-items: center;
    max-width: 100%;
    display: flex
}

.material-symbolsroofing-round-icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden
}

.low-fi-avatar {
    border-radius: var(--br-xl);
    background-color: var(--color-white);
    padding: var(--padding-xs);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 0 16px #a2aeb526
}

.irok-spektrum-lkaskch,
.komplexn-pe-na {
    align-self: stretch;
    font-weight: 500;
    position: relative
}

.irok-spektrum-lkaskch {
    font-size: var(--font-size-sm);
    font-weight: 300;
    line-height: 20px
}

.features-base,
.text-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex
}

.text-container {
    align-self: stretch;
    gap: var(--gap-5xs)
}

.features-base {
    box-shadow: var(--shadow-xsm);
    border-radius: var(--br-xl);
    background-color: var(--neutral-50);
    border: 1px solid var(--neutral-600);
    box-sizing: border-box;
    padding: var(--padding-3xl)var(--padding-12xl);
    gap: var(--gap-5xl);
    flex: 1;
    min-width: 365px;
    max-width: 100%
}

.iconoiruser-star {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden
}

.low-fi-avatar1 {
    border-radius: var(--br-xl);
    background-color: var(--color-white);
    padding: var(--padding-xs);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 0 16px #a2aeb526
}

.vysok-odbornost-a,
.zkuen-lkask-tm {
    align-self: stretch;
    font-weight: 500;
    position: relative
}

.vysok-odbornost-a {
    font-size: var(--font-size-sm);
    font-weight: 300;
    line-height: 20px
}

.features-base1,
.text-container1 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex
}

.text-container1 {
    align-self: stretch;
    gap: var(--gap-5xs)
}

.features-base1 {
    box-shadow: var(--shadow-xsm);
    border-radius: var(--br-xl);
    background-color: var(--neutral-50);
    border: 1px solid var(--neutral-600);
    box-sizing: border-box;
    padding: var(--padding-3xl)var(--padding-12xl);
    gap: var(--gap-5xl);
    flex: 1;
    min-width: 365px;
    max-width: 100%
}

.carboncrop-growth-icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden
}

.low-fi-avatar2 {
    border-radius: var(--br-xl);
    background-color: var(--color-white);
    padding: var(--padding-xs);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 0 16px #a2aeb526
}

.draz-na-preventivn,
.prevence-a-vzdlvn {
    align-self: stretch;
    font-weight: 500;
    position: relative
}

.draz-na-preventivn {
    font-size: var(--font-size-sm);
    font-weight: 300;
    line-height: 20px
}

.features-base2,
.text-container2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex
}

.text-container2 {
    align-self: stretch;
    gap: var(--gap-5xs)
}

.features-base2 {
    box-shadow: var(--shadow-xsm);
    border-radius: var(--br-xl);
    background-color: var(--neutral-50);
    border: 1px solid var(--neutral-600);
    box-sizing: border-box;
    padding: var(--padding-3xl)var(--padding-12xl);
    gap: var(--gap-5xl);
    flex: 1;
    min-width: 365px;
    max-width: 100%
}

.phhand-heart-icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden
}

.low-fi-avatar3 {
    border-radius: var(--br-xl);
    background-color: var(--color-white);
    padding: var(--padding-xs);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 0 16px #a2aeb526
}

.inovativn-a-alternativn,
.nabdka-modernch-a {
    align-self: stretch;
    font-weight: 500;
    position: relative
}

.nabdka-modernch-a {
    font-size: var(--font-size-sm);
    font-weight: 300;
    line-height: 20px
}

.features-base3,
.text-container3 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex
}

.text-container3 {
    align-self: stretch;
    gap: var(--gap-5xs)
}

.features-base3 {
    box-shadow: var(--shadow-xsm);
    border-radius: var(--br-xl);
    background-color: var(--neutral-50);
    border: 1px solid var(--neutral-600);
    box-sizing: border-box;
    padding: var(--padding-3xl)var(--padding-12xl);
    gap: var(--gap-5xl);
    flex: 1;
    min-width: 365px;
    max-width: 100%
}

.solardocument-add-linear-icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden
}

.low-fi-avatar4 {
    border-radius: var(--br-xl);
    background-color: var(--color-white);
    padding: var(--padding-xs);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 0 16px #a2aeb526
}

.pe-it-na,
.speciln-programy-pro {
    align-self: stretch;
    font-weight: 500;
    position: relative
}

.speciln-programy-pro {
    font-size: var(--font-size-sm);
    font-weight: 300;
    line-height: 20px
}

.features-base4,
.text-container4 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex
}

.text-container4 {
    align-self: stretch;
    gap: var(--gap-5xs)
}

.features-base4 {
    box-shadow: var(--shadow-xsm);
    border-radius: var(--br-xl);
    background-color: var(--neutral-50);
    border: 1px solid var(--neutral-600);
    box-sizing: border-box;
    padding: var(--padding-3xl)var(--padding-12xl);
    gap: var(--gap-5xl);
    flex: 1;
    min-width: 365px;
    max-width: 100%
}

.fluent-mdl2date-time-2-icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden
}

.low-fi-avatar5 {
    border-radius: var(--br-xl);
    background-color: var(--color-white);
    padding: var(--padding-xs);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 0 16px #a2aeb526
}

.flexibiln-a-dostupn,
.pizpsoben-ordinan-hodiny {
    align-self: stretch;
    font-weight: 500;
    position: relative
}

.pizpsoben-ordinan-hodiny {
    font-size: var(--font-size-sm);
    font-weight: 300;
    line-height: 20px
}

.text-container5 {
    align-self: stretch;
    gap: var(--gap-5xs);
    flex-direction: column;
    display: flex
}

.features-base5 {
    box-shadow: var(--shadow-xsm);
    border-radius: var(--br-xl);
    background-color: var(--neutral-50);
    border: 1px solid var(--neutral-600);
    box-sizing: border-box;
    padding: var(--padding-3xl)var(--padding-12xl);
    gap: var(--gap-5xl);
    flex-direction: column;
    flex: 1;
    min-width: 365px;
    max-width: 100%;
    display: flex
}

.lo-fi-ux-features,
.lo-fi-ux-features-wrapper,
.row {
    box-sizing: border-box;
    max-width: 100%;
    display: flex
}

.lo-fi-ux-features {
    padding: var(--padding-45xl)0;
    justify-content: center;
    align-items: center;
    gap: var(--gap-29xl);
    flex-direction: column;
    flex: 1
}

.lo-fi-ux-features-wrapper {
    text-align: left;
    font-size: var(--font-size-13xl);
    color: var(--color-black);
    font-family: var(--font-inter);
    flex-direction: row;
    justify-content: flex-start;
    align-self: stretch;
    align-items: flex-start
}

.image-10-icon {
    object-fit: contain;
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.registration-background {
    z-index: 1;
    background: linear-gradient(90deg, #fef6f6, #fef6f600);
    width: 328px;
    height: 392px;
    position: absolute;
    top: 0;
    left: 0
}

.registration-banner {
    width: 466px;
    height: 432px;
    position: absolute;
    top: 0;
    left: 750px
}

.info {
    min-width: 23px;
    font-weight: 600;
    display: inline-block;
    position: relative
}

.informace-pro-nov,
.tag {
    position: absolute;
    left: 32px
}

.tag {
    background-color: var(--color-red);
    padding: var(--padding-11xs)var(--padding-7xs);
    text-align: center;
    font-size: var(--font-size-xs);
    color: var(--color-white);
    border-radius: 4px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    top: 32px;
    overflow: hidden
}

.informace-pro-nov {
    font-size: var(--font-size-13xl);
    margin: 0;
    font-family: inherit;
    font-weight: 500;
    line-height: 38px;
    top: 67px
}

.dkujeme-za-pochopen,
.v-souasn-dob {
    margin: 0
}

.v-souasn-dob-container {
    z-index: 2;
    line-height: 20px;
    top: 137px
}

.kdo-se-me,
.pijmme-pacienty-kte,
.v-souasn-dob-container {
    width: 756px;
    display: inline-block;
    position: absolute;
    left: 32px
}

.kdo-se-me {
    font-size: var(--font-size-base);
    font-weight: 500;
    top: 209px
}

.pijmme-pacienty-kte {
    z-index: 2;
    line-height: 20px;
    top: 244px
}

.kontaktovat-sestru-emmy2 {
    font-size: var(--font-size-sm);
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    position: relative
}

.low-fi-button2 {
    cursor: pointer;
    padding: var(--padding-xs)var(--padding-5xl);
    background-color: var(--color-steelblue);
    border-radius: var(--br-xs);
    white-space: nowrap;
    border: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    position: absolute;
    top: 316px;
    left: 32px
}

.row1 {
    border-radius: var(--br-xl);
    background-color: var(--color-snow);
    flex-shrink: 0;
    width: 1216px;
    max-width: 100%;
    height: 389px;
    position: relative;
    overflow: hidden
}

.new-patients {
    padding: 0 var(--padding-xl)var(--padding-10xs);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--font-inter);
    flex-direction: row;
    justify-content: center;
    align-self: stretch;
    align-items: flex-start;
    max-width: 100%;
    display: flex
}

.header1 {
    font-size: var(--font-size-13xl);
    align-self: stretch;
    margin: 0;
    font-family: inherit;
    font-weight: 500;
    line-height: 38px;
    position: relative
}

.emmy-je-chytr {
    max-width: 100%;
    line-height: 20px;
    display: inline-block;
    position: relative
}

.iconamooncheck-fill {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden
}

.me-vs-spojit {
    line-height: 20px;
    position: relative
}

.list-row {
    justify-content: center;
    align-items: center;
    gap: var(--gap-5xs);
    flex-direction: row;
    display: flex
}

.iconamooncheck-fill1 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden
}

.domluv-vm-schzku {
    line-height: 20px;
    position: relative
}

.list-row1 {
    justify-content: center;
    align-items: center;
    gap: var(--gap-5xs);
    flex-direction: row;
    display: flex
}

.iconamooncheck-fill2 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden
}

.pepole-dokumenty-od {
    line-height: 20px;
    position: relative
}

.list-row2 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    display: flex
}

.iconamooncheck-fill3 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden
}

.ped-vm-pedem {
    line-height: 20px;
    position: relative
}

.list,
.list-row3 {
    justify-content: center;
    align-items: center;
    gap: var(--gap-5xs);
    flex-direction: row;
    display: flex
}

.list {
    justify-content: flex-start;
    gap: var(--gap-9xs);
    flex-direction: column;
    max-width: 100%
}

.image-21-icon {
    object-fit: contain;
    width: 450px;
    max-width: 100%;
    max-height: 100%;
    position: relative
}

.kontaktovat-sestru-emmy3 {
    font-size: var(--font-size-sm);
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    position: relative
}

.phinfo-icon2 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden
}

.horizontal-container7 {
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-9xs);
    flex-direction: row;
    display: flex
}

.lo-fi-ux-features1,
.row2,
.vertical-container2 {
    flex-direction: column;
    align-items: center;
    display: flex
}

.vertical-container2 {
    justify-content: flex-start;
    gap: var(--gap-5xs);
    text-align: left;
    font-size: var(--font-size-xs)
}

.lo-fi-ux-features1,
.row2 {
    box-sizing: border-box;
    max-width: 100%
}

.row2 {
    justify-content: flex-start;
    gap: var(--gap-13xl);
    width: 1216px;
    padding: 0 78px;
    overflow: hidden
}

.lo-fi-ux-features1 {
    padding: var(--padding-45xl)0;
    flex: 1;
    justify-content: center
}

.lo-fi-ux-features-container {
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--font-inter);
    flex-direction: row;
    justify-content: flex-start;
    align-self: stretch;
    align-items: flex-start;
    max-width: 100%;
    display: flex
}

.header2 {
    font-size: inherit;
    margin: 0;
    font-family: inherit;
    font-weight: 500;
    line-height: 38px;
    position: relative
}

.about-header {
    padding: 0 var(--padding-xl);
    flex-direction: row;
    justify-content: center;
    align-self: stretch;
    align-items: flex-start;
    display: flex
}

.jsme-spolenost-poskytujc {
    align-self: stretch;
    font-weight: 500;
    position: relative
}

.nae-spolenost-vznikla {
    align-self: stretch;
    line-height: 20px;
    position: relative
}

.live-wrapper,
.live-wrapper-child {
    box-sizing: border-box;
    align-self: stretch;
    max-width: 100%
}

.live-wrapper-child {
    border-top: 1px solid var(--neutral-600);
    flex: 1;
    position: relative
}

.live-wrapper {
    padding: var(--padding-base)0 var(--padding-mini);
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 32px;
    display: flex
}

.naim-dlouhodobm-clem,
.tvome-konstantn-lkask {
    align-self: stretch;
    line-height: 20px;
    position: relative
}

.tvome-konstantn-lkask {
    white-space: pre-wrap
}

.history {
    align-self: stretch;
    gap: var(--gap-3xs);
    font-size: var(--font-size-sm)
}

.about-description,
.history,
.jsme-spolenost-poskytujc-p-parent {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
    display: flex
}

.jsme-spolenost-poskytujc-p-parent {
    align-self: stretch;
    gap: 26px
}

.about-description {
    box-sizing: border-box;
    width: 502px;
    min-width: 502px;
    padding: 50.5px 0 0
}

.kolektiv-pracoviste-3 {
    object-fit: cover;
    flex: 1;
    min-width: 416px;
    max-width: 100%;
    height: 427px;
    position: relative;
    overflow: hidden
}

.horizontal-container8 {
    border-radius: var(--br-xl);
    background-color: var(--neutral-50);
    border: 1px solid var(--neutral-600);
    box-sizing: border-box;
    padding: 0 0 0 var(--padding-11xl);
    justify-content: center;
    align-self: stretch;
    gap: var(--gap-23xl);
    text-align: left;
    font-size: var(--font-size-base);
    flex-direction: row
}

.about-content,
.about-content-wrapper,
.horizontal-container8 {
    align-items: flex-start;
    max-width: 100%;
    display: flex
}

.about-content {
    justify-content: flex-start;
    gap: var(--gap-13xl);
    flex-direction: column;
    width: 1216px
}

.about-content-wrapper {
    padding: 0 var(--padding-xl)var(--padding-13xl);
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-size-13xl);
    color: var(--color-black);
    font-family: var(--font-inter);
    flex-direction: row;
    justify-content: center;
    align-self: stretch
}

.doktor-veobecnho-lkastv,
.mudr-tomas-jinek {
    flex-shrink: 0;
    width: 196px;
    font-weight: 500;
    display: inline-block;
    position: relative
}

.doktor-veobecnho-lkastv {
    font-size: var(--font-size-sm);
    width: 195px;
    font-weight: 300;
    line-height: 20px
}

/* .intersect-icon {
    object-fit: contain;
    flex: 1 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 4px;
    left: 0;
    overflow: hidden;
    transform: scale(1.185)
} */

.wrapper-intersect {
    flex: 1 0;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 366.8px;
    display: flex;
    position: relative
}

.modal-member-overlay {
    padding: 0 var(--padding-12xs)0 var(--padding-4xs);
    box-sizing: border-box;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: flex-start;
    align-self: stretch;
    height: 366.8px
}

.modal-content {
    padding: 0 var(--padding-10xs)0 0;
    flex-direction: row;
    justify-content: flex-end;
    align-self: stretch
}

.modal-close-button-child {
    background: linear-gradient(90deg, #fff, #fff0);
    width: 180px;
    height: 397px;
    display: none;
    position: relative
}

.mingcuteright-line-icon {
    object-fit: contain;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    position: relative;
    overflow: hidden
}

.close-modal-button {
    border-radius: var(--br-5xs);
    background-color: var(--color-steelblue);
    z-index: 2;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    display: flex;
    overflow: hidden
}

.modal-close-button {
    padding: var(--padding-143xl)var(--padding-7xs);
    z-index: 1;
    background: linear-gradient(90deg, #fff, #fff0);
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    align-self: stretch;
    align-items: flex-start;
    margin-top: -399px;
    display: flex
}

.member-modal {
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-start;
    align-self: stretch;
    align-items: flex-end;
    width: 180px;
    display: flex
}


.pointer-icon {
    object-fit: contain;
    z-index: 1;
    width: 21px;
    height: 25.8px;
    position: relative
}

.vce-informac {
    font-size: var(--font-size-sm);
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    min-width: 96px;
    display: inline-block;
    position: relative
}

.info-button,
.info-overlay-content,
.low-fi-button4 {
    flex-direction: row;
    align-items: flex-start;
    display: flex
}

.low-fi-button4 {
    cursor: pointer;
    padding: var(--padding-xs)var(--padding-5xl);
    background-color: var(--color-steelblue);
    border-radius: var(--br-xs);
    white-space: nowrap;
    z-index: 1;
    border: 0;
    justify-content: flex-start
}

.info-button,
.info-overlay-content {
    padding: 0 var(--padding-11xs)0 var(--padding-12xs);
    justify-content: flex-end
}

.info-overlay-content {
    padding: 213.8px var(--padding-37xl)56.8px 13px;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-end;
    gap: 29.4px;
    position: relative
}

.modal-content1 {
    width: 382px;
    max-width: 100%
}

.modal-close-button-item {
    background: linear-gradient(90deg, #fff0, #fff);
    width: 180px;
    height: 397px;
    display: none;
    position: relative
}

.mingcuteright-line-icon1 {
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    position: relative;
    overflow: hidden
}

.close-modal-button1,
.modal-close-button1 {
    flex-direction: row;
    flex-shrink: 0;
    display: flex
}

.close-modal-button1 {
    border-radius: var(--br-5xs);
    background-color: var(--color-steelblue);
    z-index: 3;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    overflow: hidden
}

.modal-close-button1 {
    padding: var(--padding-143xl)29px;
    box-sizing: border-box;
    z-index: 2;
    background: linear-gradient(90deg, #fff0, #fff);
    justify-content: flex-start;
    align-self: stretch;
    align-items: flex-start;
    width: 180px;
    margin-left: -143px
}

.doktor-veobecnho-lkastv5,
.mudr-tomas-jinek4 {
    flex-shrink: 0;
    width: 196px;
    font-weight: 500;
    display: inline-block;
    position: relative
}

.doktor-veobecnho-lkastv5 {
    font-size: var(--font-size-sm);
    width: 195px;
    font-weight: 300;
    line-height: 20px
}

.intersect-icon5 {
    object-fit: contain;
    flex: 1 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 4px;
    left: 0;
    overflow: hidden;
    transform: scale(1.185)
}

.wrapper-intersect5 {
    flex: 1 0;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 366.8px;
    display: flex;
    position: relative
}

.member-overlay1 {
    padding: 0 var(--padding-12xs)0 var(--padding-4xs);
    flex-direction: row;
    justify-content: flex-start;
    align-self: stretch;
    align-items: flex-start;
    height: 366.8px;
    display: flex
}

.member-modal1 {
    align-self: stretch;
    width: 419px;
    max-width: 100%;
    padding: 0
}

.content,
.content-wrapper,
.member-modal1 {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex
}

.content {
    flex: 1;
    align-self: stretch;
    gap: 13px;
    max-width: 100%;
    overflow-x: auto
}


.header3 {
    font-size: inherit;
    min-width: 119px;
    margin: 0;
    font-family: inherit;
    font-weight: 500;
    line-height: 38px;
    display: inline-block;
    position: relative
}

.header-wrapper {
    padding: 0 var(--padding-xl);
    flex-direction: row;
    justify-content: center;
    align-self: stretch;
    align-items: flex-start;
    display: flex
}

.dm-lka-as {
    font-size: var(--font-size-base);
    align-self: stretch;
    font-weight: 500;
    position: relative
}

.bezruova-4132,
.nov-jin,
.p {
    margin: 0
}

.bezruova-4132-nov-jin-741-container {
    align-self: stretch;
    line-height: 20px;
    position: relative
}

.live-wrapper1,
.separator {
    box-sizing: border-box;
    align-self: stretch;
    max-width: 100%
}

.separator {
    border-top: 1px solid var(--neutral-600);
    flex: 1;
    position: relative
}

.live-wrapper1 {
    padding: var(--padding-base)0 var(--padding-mini);
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 32px;
    display: flex
}

.system-uiconsmail {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    min-height: 20px;
    position: relative;
    overflow: hidden
}

.recepcedumlekarucz {
    white-space: nowrap;
    line-height: 20px;
    text-decoration: underline;
    position: relative
}

.contact-icons {
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap-9xs);
    flex-direction: row;
    display: flex
}

.phphone-light-icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    min-height: 20px;
    position: relative;
    overflow: hidden
}

.div {
    white-space: nowrap;
    min-width: 122px;
    line-height: 20px;
    display: inline-block;
    position: relative
}

.contact-icons1 {
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap-9xs);
    flex-direction: row;
    display: flex
}

.pondl,
.time {
    line-height: 20px;
    display: inline-block;
    position: relative
}

.pondl {
    flex-shrink: 0;
    width: 60px
}

.time {
    white-space: nowrap;
    min-width: 89px
}

.table-row {
    border-bottom: 1px solid var(--neutral-600);
    padding: var(--padding-5xs)0 var(--padding-7xs);
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
    gap: var(--gap-xl);
    flex-direction: row;
    display: flex
}

.div1,
.ter {
    line-height: 20px;
    display: inline-block;
    position: relative
}

.ter {
    flex-shrink: 0;
    width: 60px
}

.div1 {
    white-space: nowrap;
    min-width: 90px
}

.table-row1 {
    border-bottom: 1px solid var(--neutral-600);
    padding: var(--padding-5xs)0 var(--padding-7xs);
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
    gap: var(--gap-xl);
    flex-direction: row;
    display: flex
}

.div2,
.steda {
    line-height: 20px;
    display: inline-block;
    position: relative
}

.steda {
    flex-shrink: 0;
    width: 60px
}

.div2 {
    white-space: nowrap;
    min-width: 89px
}

.table-row2 {
    border-bottom: 1px solid var(--neutral-600);
    padding: var(--padding-5xs)0 var(--padding-7xs);
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
    gap: var(--gap-xl);
    flex-direction: row;
    display: flex
}

.div3,
.tvrtek {
    line-height: 20px;
    display: inline-block;
    position: relative
}

.tvrtek {
    flex-shrink: 0;
    width: 60px
}

.div3 {
    white-space: nowrap;
    min-width: 89px
}

.table-row3 {
    border-bottom: 1px solid var(--neutral-600);
    padding: var(--padding-5xs)0 var(--padding-7xs);
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
    gap: var(--gap-xl);
    flex-direction: row;
    display: flex
}

.div4,
.ptek {
    line-height: 20px;
    display: inline-block;
    position: relative
}

.ptek {
    flex-shrink: 0;
    width: 60px
}

.div4 {
    white-space: nowrap;
    min-width: 89px
}

.table,
.table-row4 {
    align-self: stretch;
    display: flex
}

.table-row4 {
    padding: var(--padding-5xs)0;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-xl);
    flex-direction: row
}

.table {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start
}

.v-ostatn-ordinanch {
    font-size: var(--font-size-xs);
    max-width: 100%;
    line-height: 18px;
    display: inline-block;
    position: relative
}

.contact-details,
.google-maps-widget,
.row3 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
    display: flex
}

.row3 {
    border-radius: var(--br-xl);
    background-color: var(--color-white);
    padding: var(--padding-base)var(--padding-13xl);
    box-sizing: border-box;
    align-self: stretch;
    gap: var(--gap-5xs);
    overflow: hidden
}

.contact-details,
.google-maps-widget {
    min-width: 364px
}

.contact-details {
    gap: var(--gap-3xs);
    flex: 1
}

.google-maps-widget {
    border-radius: var(--br-base);
    padding: var(--padding-xs);
    box-sizing: border-box;
    border: 0;
    flex: .9571;
    overflow: hidden
}

.horizontal-container9 {
    border-radius: var(--br-xl);
    background-color: var(--neutral-50);
    border: 1px solid var(--neutral-600);
    box-sizing: border-box;
    padding: var(--padding-11xl)var(--padding-12xl);
    justify-content: center;
    align-self: stretch;
    gap: var(--gap-13xl);
    text-align: left;
    font-size: var(--font-size-sm);
    flex-direction: row
}

.content-container,
.content1,
.horizontal-container9 {
    align-items: flex-start;
    max-width: 100%;
    display: flex
}

.content1 {
    justify-content: flex-start;
    gap: var(--gap-13xl);
    flex-direction: column;
    width: 1216px
}

.content-container {
    padding: var(--padding-45xl) var(--padding-xl);
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-size-13xl);
    color: var(--color-black);
    font-family: var(--font-inter);
    flex-direction: row;
    justify-content: center;
    align-self: stretch
}

.gallery {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr); 
}

.gallery img {
    width: 100%;
}

.icon-placeholder-fill {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    min-height: 16px;
    display: none;
    position: relative;
    overflow: hidden
}

.link-background {
    border-radius: var(--br-31xl);
    background-color: var(--color-steelblue);
    flex: 1;
    height: 16px;
    position: relative
}

.vertical-container10,
.vertical-container9 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex
}

.vertical-container10 {
    align-self: stretch;
    gap: var(--gap-xs)
}

.vertical-container9 {
    gap: var(--gap-5xl);
    width: 54px
}

.slider-section-wrapper {
    position: relative;
    width: 100%;
}

.slider-container {
    display: flex;
    gap: 16px;
    scroll-behavior: smooth;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    justify-content: flex-start;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider-container::-webkit-scrollbar { 
    display: none;
}

.arrow-wrapper {
    position: absolute;
    height: 100%;
    width: 180px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-wrapper.hidden {
    display: none;
}

#left-slider-arrow {
    background: linear-gradient(90deg, #fff, #fff0);
    left: 0;
}

#right-slider-arrow {
    background: linear-gradient(90deg, #fff0, #fff);
    right: 0;
}

.team-member {
    position: relative;
    height: 360px;
    width: 260px;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    background-color: var(--neutral-50);
    border: 1px solid var(--neutral-600);
    border-radius: 20px;
    padding: 32px;
    text-align: center;
    color: black;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.team-member-name {
    font-weight: 500;
    font-size: 1rem;
}

.team-member-description {
    font-weight: 300;
    font-size: 0.875rem;
}

.team-member-photo {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 95%;
    filter: drop-shadow(0px 4px 20px #00000025);
    z-index: 0;
}

.team-member button {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
}

.team-member:hover button {
    bottom: 32px;
    opacity: 100;
}

.team-member:hover .team-member-photo {
    filter: drop-shadow(0px 4px 20px #00000025) saturate(0);
}

.team-member:hover {
    border-color: var(--color-steelblue);
}


@media screen and (width<=1200px) {
    .horizontal-container5 {
        padding-left: var(--padding-13xl);
        padding-right: var(--padding-15xl);
        box-sizing: border-box
    }

    .overlay-parent {
        gap: 99px
    }

    .row2 {
        padding-left: var(--padding-20xl);
        padding-right: var(--padding-20xl);
        box-sizing: border-box
    }
}

@media screen and (width<=1050px) {
    .konstantn-tm-lka-container {
        font-size: var(--font-size-11xl);
        line-height: 35px
    }

    .header1,
    .informace-pro-nov,
    .pro-si-vybrat {
        font-size: var(--font-size-7xl);
        line-height: 30px
    }

    .lo-fi-ux-features1 {
        padding-top: var(--padding-23xl)
    }

    .lo-fi-ux-features-container,
    .lo-fi-ux-features1 {
        padding-bottom: var(--padding-10xs);
        box-sizing: border-box
    }

    .header2 {
        font-size: var(--font-size-7xl);
        line-height: 30px
    }

    .about-description {
        flex: 1
    }

    .horizontal-container8 {
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        padding-bottom: var(--padding-xl);
        box-sizing: border-box;
        flex-wrap: wrap
    }

    .header3 {
        font-size: var(--font-size-7xl);
        line-height: 30px
    }

    .contact-details,
    .google-maps-widget {
        flex: 1
    }

    .horizontal-container9 {
        flex-wrap: wrap
    }
}

@media screen and (width<=750px) {
    .low-fi-page-header {
        padding-left: var(--padding-21xl);
        padding-right: var(--padding-21xl);
        box-sizing: border-box
    }

    .overlay-parent {
        box-sizing: border-box;
        gap: 49px;
        padding-top: 91px
    }

    .lo-fi-ux-features {
        gap: var(--gap-5xl);
        padding-top: var(--padding-23xl)
    }

    .lo-fi-ux-features,
    .lo-fi-ux-features-wrapper {
        padding-bottom: var(--padding-10xs);
        box-sizing: border-box
    }

    .row2 {
        gap: var(--gap-base)
    }

    .lo-fi-ux-features1 {
        gap: var(--gap-5xl)
    }

    .about-description,
    .kolektiv-pracoviste-3 {
        min-width: 100%
    }

    .horizontal-container8 {
        gap: 21px
    }

    .about-content {
        gap: var(--gap-base)
    }

    .contact-details {
        min-width: 100%
    }

    .google-maps-widget {
        gap: 84px;
        min-width: 100%
    }

    .horizontal-container9 {
        gap: var(--gap-base);
        padding-top: var(--padding-xl);
        padding-bottom: var(--padding-xl);
        box-sizing: border-box
    }

    .content1 {
        gap: var(--gap-base)
    }

    .content-container {
        padding-bottom: var(--padding-23xl);
        box-sizing: border-box
    }

    .container1 {
        flex-wrap: wrap;
        justify-content: center
    }

    .container {
        gap: var(--gap-13xl)
    }

    .lo-fi-ux-footer {
        padding-left: var(--padding-21xl);
        padding-right: var(--padding-21xl);
        box-sizing: border-box
    }
}

@media screen and (width<=450px) {
    .konstantn-tm-lka-container {
        font-size: var(--font-size-4xl);
        line-height: 26px
    }

    .overlay-parent {
        gap: 25px
    }

    .informace-pro-nov,
    .pro-si-vybrat {
        font-size: var(--font-size-lgi);
        line-height: 23px
    }

    .new-patients {
        padding-bottom: var(--padding-23xl);
        box-sizing: border-box
    }

    .header1 {
        font-size: var(--font-size-lgi);
        line-height: 23px
    }

    .lo-fi-ux-features1 {
        padding-top: var(--padding-8xl)
    }

    .lo-fi-ux-features-container,
    .lo-fi-ux-features1 {
        padding-bottom: var(--padding-8xl);
        box-sizing: border-box
    }

    .header2 {
        font-size: var(--font-size-lgi);
        line-height: 23px
    }

    .about-description {
        box-sizing: border-box;
        padding-top: 33px
    }

    .modal-close-button {
        padding-bottom: var(--padding-86xl);
        box-sizing: border-box
    }

    .info-overlay-content {
        box-sizing: border-box;
        padding-top: 139px;
        padding-bottom: 37px
    }

    .team-member4 {
        padding-top: var(--padding-xl);
        padding-bottom: var(--padding-118xl);
        box-sizing: border-box
    }

    .modal-close-button1 {
        padding-bottom: var(--padding-86xl);
        box-sizing: border-box
    }

    .header3 {
        font-size: var(--font-size-lgi);
        line-height: 23px
    }

    .table-row,
    .table-row1,
    .table-row2,
    .table-row3,
    .table-row4 {
        flex-wrap: wrap
    }

    .google-maps-widget {
        gap: var(--gap-23xl)
    }

    .container {
        gap: var(--gap-base)
    }

    .lo-fi-ux-footer {
        padding-top: var(--padding-23xl);
        padding-bottom: var(--padding-2xl);
        box-sizing: border-box
    }
}

/*# sourceMappingURL=index.035199c4.css.map */