.service-feature-icon {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	position: relative;
	overflow: hidden
}

.service-list-icon-container {
	border-radius: var(--br-xs);
	background-color: var(--color-white);
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	display: flex
}

.service-descriptions {
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.service-descriptions {
	box-sizing: border-box;
	flex-direction: column;
	flex: 1;
	font-weight: 500;
}

.tab {
	display: flex;
	box-shadow: var(--shadow-xsm);
	border-radius: var(--br-base);
	background-color: var(--neutral-50);
	border: 1px solid var(--neutral-600);
	padding: var(--padding-7xs)var(--padding-mini);
	align-self: stretch;
	gap: var(--gap-5xs);
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
}

.tab.active {
	border: 1px solid var(--color-red);
}

.tab.active img,
.tab:hover img {
	filter: invert(21%) sepia(100%) saturate(7414%) hue-rotate(359deg) brightness(94%) contrast(117%);
}

.tabs {
	gap: var(--gap-5xs);
	flex-direction: column;
}


.subtitle-wrapper1 {
	padding: 0 0 var(--padding-base);
	justify-content: center;
	align-self: stretch;
	align-items: flex-start;
	gap: var(--gap-3xs);
	flex-direction: column;
	display: flex
}

.tabcontent li {
	margin-bottom: 10px
}

.tabcontent ul,
.tabcontent ol {
	font-size: var(--font-size-sm);
	align-self: stretch;
	line-height: 20px;
	padding-left: var(--padding-lgi);
	margin: var(--padding-7xs) 0 0 0;
}

hr {
	margin: var(--padding-11xl) 0;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid var(--neutral-600);
	padding: 0;
}

.live-wrapper-inner,
.live-wrapper4 {
	box-sizing: border-box;
	align-self: stretch;
	max-width: 100%
}

.live-wrapper-inner {
	border-top: 1px solid var(--neutral-600);
	flex: 1;
	position: relative
}

.live-wrapper4 {
	padding: var(--padding-base)0 var(--padding-mini);
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	height: 32px;
	display: flex
}

.material-symbolsdownload-icon {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	position: relative;
	overflow: hidden
}

.download-icon-containers {
	padding: var(--padding-11xs)0 0;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	display: flex
}

.download-item-containers {
	justify-content: flex-start;
	align-items: flex-start;
	gap: var(--gap-9xs);
	flex-direction: row;
	display: flex
}

.download-items,
.text-container-white {
	justify-content: flex-start;
	gap: var(--gap-5xs);
	flex-direction: column
}

.download-items {
	font-size: var(--font-size-sm);
	align-items: flex-start;
	max-width: 100%;
	display: flex
}

.text-container-white {
	border-radius: var(--br-xl);
	background-color: var(--color-white);
	padding: var(--padding-base);
	box-sizing: border-box;
	align-self: stretch;
	overflow: hidden
}

.tabcontent,
.text-container-white,
.services {
	align-items: flex-start;
	max-width: 100%;
	display: flex
}

.tabcontent {
	box-shadow: var(--shadow-xsm);
	border-radius: var(--br-xl);
	background-color: var(--neutral-50);
	border: 1px solid var(--neutral-600);
	box-sizing: border-box;
	padding: var(--padding-11xl)var(--padding-12xl);
	justify-content: flex-start;
	gap: var(--gap-base);
	flex-direction: column;
	flex: 1;
	width: 100%;
	overflow: hidden;
	display: none;
}

.tabcontent p {
	margin-top: 0px;
	align-self: stretch;
	font-size: var(--font-size-sm);

}

.tabcontent p.bold {
	font-size: var(--font-size-base);
	font-weight: 600;
}

.tabcontent p.underline {
	text-decoration: underline;
}

.tabcontent img.poskytovana-pece-img {
    max-width: 450px;
    border-radius: 20px;
    border: 1px solid #E6E9EC;
    object-fit: contain;
}

.store-badges {
	display: flex;
	gap: 1rem;
	margin-top: 1rem;
	flex-wrap: wrap;
}

.store-badge {
	height: 40px;
	object-fit: contain;
}  

li.expandable-item {
	margin-bottom: var(--padding-base);
	list-style: none;
}

.expand-toggle {
	all: unset;
	cursor: pointer;
	font-weight: bold;
	display: block;
}

.expand-toggle p {
	margin-bottom: var(--padding-7xs);
}

.expand-content {
	display: none;
	padding-left: var(--padding-base);
}

.expandable-item.active .expand-content {
	display: block;
}

.expand-toggle .arrow {
	display: inline-block;
	transition: transform 0.2s ease;
}

.expandable-item.active .expand-toggle .arrow {
	transform: rotate(90deg);
}

.services {
	flex-direction: row;
	justify-content: center;
}

.services-list {
	display: grid;
	grid-template-columns: 340px 1fr;
	gap: var(--gap-13xl);
	width: 1216px;
}

.services {
	margin-top: var(--padding-45xl);
	padding: 0 var(--padding-xl) var(--padding-xl);
	box-sizing: border-box;
	text-align: left;
	font-size: var(--font-size-base);
	color: var(--color-black);
	font-family: var(--font-inter);
	align-self: stretch
}

.services-row {
	padding-bottom: var(--padding-93xl);
}

.bute-bhem-dne,
.dvejte-pozor-na,
.lko-je-ureno,
.obrazovky-a-elektronick,
.ped-spanm-si,
.pravidlo-15-minut,
.spte-v-pjemnm-prosted,
.urete-si-pravideln,
.vystavujte-se-co {
	margin-bottom: 10px
}

.spte-v-pjemnm-prosted-p {
	font-family: inherit;
	font-size: inherit;
	padding-left: var(--padding-lgi);
	margin: 0
}

.spte-v-pjemnm-prosted-container {
	font-size: var(--font-size-sm);
	align-self: stretch;
	line-height: 20px;
	position: relative
}

.image-23-icon {
	object-fit: cover;
	width: 450px;
	max-height: 100%;
	position: relative
}

.dostaten-psun-tekutin,
.nevhodn-jsou-ovocn,
.vhodn-jsou-rov,
.z-ovoce-jsou-vhodn {
	margin-bottom: 10px
}

.tabs {
	justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    gap: var(--gap-5xs);
    flex-direction: column;
}

@media screen and (width<=1000px) {
	.services-list {
		grid-template-columns: 260px 1fr;
		gap: 16px;
	}
}

@media screen and (width<=750px) {
	.services-list {
		grid-template-columns: 1fr;
	}

	.services {
		margin-top: var(--padding-23xl)
	}

	.tabcontent {
		padding: var(--padding-5xl) var(--padding-base);
		margin-bottom: 16px;
		margin-top: -6px;
	}

	.tabcontent img.poskytovana-pece-img,
	.image-23-icon {
        max-width: 250px;
    }
}

/*# sourceMappingURL=dum-lekaru-poskytovana-pece.62f03d40.css.map */